<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="aboutme.css">
</head>
<body>
    <div class="titlebar lato-black">
        <ul>
            <li><a href=<%= home%>>Home</a></li>
            <li><a href=<%= dashboard%>>Dashboard</a></a></li>
            <li  style="border-bottom: 5px solid white;"><a href=<%= aboutme%>>About me</a></a></li>
            <li><a href=<%= contacts%>>Contacts</a></li>
            <li><a href=<%= socials%>>Socials</a></li>
            <li><a href=<%= projects%>>Projects</a></li>
        </ul>
    </div>
    <div class="content_holder">
        <div class="infobox hzoom">
            <img src="images/front-view-stacked-books-ladders-education-day.jpg" alt="" class="clip_img">
            <div class="text lato-black">EDUCATION</div>
        </div>
        <div class="infobox hzoom">
            <img src="images/employees-working-together-side-view.jpg" alt="" class="clip_img">
            <div class="text lato-black">SKILLS</div>
        </div>
        <div class="infobox hzoom">
            <img src="images/experience.jpg" alt="" class="clip_img">
            <div class="text lato-black">EXPERIENCE</div>
        </div>
        <div class="infobox hzoom">
            <img src="images/front-view-stacked-books-ladders-education-day.jpg" alt="" class="clip_img">
            <div class="text lato-black">INTERESTS</div>
        </div>
        <div class="infobox hzoom">
            <img src="images/employees-working-together-side-view.jpg" alt="" class="clip_img">
            <div class="text lato-black">CERTIFICATIONS</div>
        </div>
        <div class="infobox hzoom">
            <img src="images/experience.jpg" alt="" class="clip_img">
            <div class="text lato-black">GALLERY</div>
        </div>
    </div>
</body>
</html>


